<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1236f749-6889-43f6-a0e5-179df62ad1a2/resourceGroups/bg-practic-temp-rg/providers/Microsoft.Web/sites/bg-practic-app-4</ResourceId>
    <ResourceGroup>bg-practic-temp-rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://bg-practic-app-4.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://bg-practic-app-4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$bg-practic-app-4</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>