@page
@model IndexModel
@{
    ViewData["Title"] = "My ASP Core App";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Asp Core App</h1>
    <h2>Azure web app host </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
